html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 2rem;
  font-style: italic;
  left: 45%;
  bottom: 1em;
  position: absolute;
  transform: translateX(-50%);
  width: 670px;
}

.content {
  padding: 0 1em;
  position: absolute;
  width: 100%;
  bottom: 20px;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  max-height: 500px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.title {
  font-size: 2em;
  left: 45%;
  bottom: 4em;
  margin-bottom: 40px;
  position: absolute;
  transform: translateX(-50%);
  width: 650px;
}

h2 {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  display: inline;
  padding: 1px;
  font-size: 4rem;
}
