html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Open Sans, sans-serif;
}

p {
  font-size: 2rem;
  font-style: italic;
}

.content {
  padding: 0 1em;
  position: absolute;
  width: 100%;
  bottom: 20px;
}

.banner img {
  width:100%;
}

.banner {
  max-height: 500px;
  position: relative;
  overflow: hidden;
  width: 100%;
}
